* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  mavbar  */
#logo {
    width: 150px;
}

/*   header  */

h1 {
    text-align: center;
}


/*   formulario   */
.input-group span {
    padding-right: 5px;
}

.chev {
    display: flex;
    align-items: center;
}

/*   galeria   */

.galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 15px;

}

.galeria .card {
    align-self: center;
    margin: 10px 0px;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.fa-brands{
   
}