* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  mavbar  */


/*   header  */

h1 {
    text-align: center;
}


/*   formulario   */
.input-group span {
    padding-right: 5px;
}

.chev {
    display: flex;
    align-items: center;
}

/*   galeria   */

.galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 5px;
}

.galeria .card {
    align-self: center;
    background-color: antiquewhite;
    width: 18rem;
}




/*   footer    */


/*Small devices (landscape phones, 576px and up)*/